@import '../../../node_modules/normalize.css/normalize.css';
@import '../../styles/helpers.css';

html,
body {
	-webkit-font-smoothing: antialiased;
}

.App {
	font-family: 'Cormorant Garamond', serif;
}

.App a,
.App:visited {
	color: #d0caab;
	text-decoration: none;
}

.App a:hover {
	border-bottom: 1px solid #d0caab;
}
