.Reference {
	list-style: none;
	margin-bottom: 2em;
	margin-bottom: 3em;
}

.Reference .sep {
	width: 30px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 10px;
}

.Reference h5 {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.Reference h5 span {
	font-size: 0.8em;
}

.Reference h6 {
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}


.Reference .tags {
	margin: 0.3em 0  1em 0;
	display: inline-block;
}

.Reference .tag {
	font-family: 'Quicksand', sans-serif;
	margin: 0 0.5em 0 0;
	background:rgba(1, 1, 0, 0.2);
	padding: 0.3em 0.6em;
	font-size: 0.6em;
	text-transform: uppercase;
	color: rgb(181, 199, 230);
}
