.Reference {
	list-style: none;
	margin-bottom: calc(5vw + 3vh + 1vmin);
}

.Reference h5 {
	font-size: calc(1vw + 1.3vh + 2vmin);
	padding: 0;
	margin: 0;
}

.Reference h5 span {
	font-size: calc(0.5vw + 0.9vh + 1vmin);
}

.Reference h6 {
	padding: 0;
	margin: 0;
	font-size: calc(0.5vw + 0.9vh + 1vmin);
}

.Reference p {
	margin-bottom: 5vh;;
	font-size: calc(0.3vw + 0.5vh + 1vmin);
	font-family: 'Quicksand', sans-serif;
	color: #fff;
}

.Reference .tags {
	margin: 0.3em 0  1em 0;
	display: inline-block;
}

.Reference .tag {
	font-family: 'Quicksand', sans-serif;
	margin: 0 0.5em 0 0;
	background:rgba(1, 1, 0, 0.2);
	padding: 0.3em 0.6em;
	font-size: 0.6em;
	text-transform: uppercase;
	color: rgb(181, 199, 230);
}
